<div class="wrapper">
    <div class=searchWrapper>
        <span class="titlesearch">Tìm kiếm sản phẩm</span>
        <div class=inputSearch>
            <div class=searchLeft>
                <span class="k-icon k-i-zoom"></span>
                <input placeholder="Tìm theo barcode, tên sản phẩm, người bán, thương hiệu" (ngModel)="''" (change)="''"
                    (keyup.enter)="''" (keyup)="''" />
            </div>
            <button>
                <span class="k-icon k-i-zoom"></span>
                Tìm
            </button>
        </div>
    </div>
    <div class="btnRight">
        <button>
            <span class="k-icon k-i-plus"></span>
            THÊM SẢN PHẨM

        </button>
    </div>
</div>

<div class="wrapper_table">
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Người bán</th>
                <th scope="col">Phân nhóm</th>
                <th scope="col">Xuất xứ</th>
                <th scope="col">Thương hiệu</th>
                <th scope="col">Giá bán lẻ</th>
                <th scope="col">Quản lý date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white">
                <td class="title-product">
                    <img src="./../../../../assets/img/product/1.png" alt="product">
                    <div class="sub-title">
                        <span class="title"></span>
                        <div class="ncode">
                            <span class="poscode"></span>
                            <span class="barcode"></span>
                        </div>
                    </div>
                </td>
                <td class="lineHeight ">
                    <div class="seller">a</div>
                </td>
                <td class="subgroups text-start">
                    <span class="subClass">a</span>
                </td>
                <td class="lineHeight">
                    <div class="origin">a</div>
                </td>
                <td class="lineHeight">
                    <div class="brand">a</div>
                </td>
                <td class="text-end lineHeight">
                    <div class="price">a</div>
                </td>
                <td class="lineHeight">
                    <input type="checkbox" name="Doing business" id="Doingbusiness">
                </td>
                <td class="lineHeight dropdown_item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle ActionInTable"
                            data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end dropdown_item-ul">
                            <li>
                                <button class="dropdown-item" type="button">
                                    <i class="fa-sharp fa-solid fa-eye"></i>
                                    Xem chi tiết
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item " type="button">
                                    <i class="fa-sharp fa-solid fa-pen"></i> Chỉnh sửa
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>