::ng-deep {
    body {
        background-color: #EDEFF3;
    }

    app-manager-cart {
        kendo-drawer-container {

            kendo-drawer-content {
                .wrapper-detail-program {
                    padding: 19px 13px;
                    background-color: #edeff3;

                    .header-detail-program {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #BDC2D2;
                        padding-bottom: 20px;

                        .wrapper-search {
                            // display: flex;
                            column-gap: 10px;

                            .title-detail-program {
                                span {
                                    font-weight: 700;
                                    font-size: 16px;
                                    color: #959DB3;

                                }
                            }

                            .search-input {
                                background-color: #fff;
                            }
                        }

                        // .tool-detail-program {
                        //     display: flex;
                        //     column-gap: 10px;
                        // }
                    }

                    .k-table-tbody {
                        // display: flex;
                        // justify-content: space-between;
                        flex-wrap: wrap;
                        row-gap: 12px;
                        column-gap: 20px;

                        .container-product {
                            position: relative;
                            padding: 14px 10px;

                            // .content-product {
                            //     display: flex;
                            //     justify-content: space-between;
                            //     column-gap: 9px;

                            .title {
                                display: -webkit-box;
                                color: #353935;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .ncode {
                                display: flex;
                                position: relative;
                                color: #5a6276;
                                font-weight: 700;

                                span {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    align-content: center;
                                }
                            }

                            .ncode span:nth-child(1)::after {
                                content: "";
                                width: 2px;
                                height: 20px;
                                margin: auto 10px 0;
                                background-color: #c4c4c4;
                            }


                            // }

                            // .imgProduct {
                            //     width: 76px;
                            //     height: 76px;
                            // }

                            // .dustbin {
                            //     position: absolute;
                            //     top: 4px;
                            //     left: 5px;
                            //     outline: none;
                            //     border: none;
                            //     box-shadow: none;
                            //     background-color: transparent;
                            // }
                        }

                        // .k-table-row {
                        //     width: 220px !important;
                        //     border: 1px solid #8dc63f;
                        // }

                        // .k-table-td {
                        //     padding: 0;
                        // }
                        // }
                        td {
                            border: none;
                        }
                    }

                    .k-grid .k-table-th,
                    .k-grid-header,
                    .k-grid td,
                    .k-grid .k-table-td {
                        border: none;
                    }


                    .k-button {
                        border: none;
                    }

                    .k-button-solid-base {
                        background-image: none;
                        background-color: transparent;
                    }

                    // .k-button-flat-primary {
                    //     font-size: 13px;
                    //     color: inherit;
                    // }

                    kendo-numerictextbox,
                    kendo-dropdownlist {
                        width: 170px;
                    }

                    .statusbtn {
                        margin-right: 10px;
                    }

                    $primary-300: #ed5149;

                    .k-dialog-title {
                        justify-content: center;
                        color: $primary-300;
                    }


                    .container-dialog {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-weight: 800;
                    }

                    .name-dialog-product {
                        display: flex;
                        gap: 10px;

                    }

                    .text-gray {
                        color: rgb(149, 157, 179);
                    }

                    .button-action {
                        display: flex;
                        flex-direction: row;

                        .button-click {
                            width: 100%;
                            height: 50px;
                            border: 0;
                            border-top: ridge;
                        }

                        .themecolor-button {
                            background-color: red;
                            color: #FFF
                        }
                    }


                    .k-window-content:last-child {
                        padding-bottom: clamp(0px, 0px, 0px);
                    }

                    .k-window-content,
                    .k-prompt-container {
                        padding-block: 0px;
                        padding-inline: 0px;
                        border-width: 0;
                        border-color: inherit;
                        color: inherit;
                        background: none;
                        outline: 0;
                        overflow: auto;
                        position: relative;
                        flex: 1 1 auto;
                    }
                }

            }


        }

    }
}

// padding: 13px 32px 18px 20px;