<div class="wrapper">
    <div class=searchWrapper>
        <span class="titlesearch">Tìm kiếm sản phẩm</span>
        <div class=inputSearch>
            <div class=searchLeft>
                <span class="k-icon k-i-zoom"></span>
                <input placeholder="Tìm theo barcode, tên sản phẩm, người bán, thương hiệu" (ngModel)="''" (change)="''"
                    (keyup.enter)="''" (keyup)="''" />
            </div>
            <button>
                <span class="k-icon k-i-zoom"></span>
                Tìm
            </button>
        </div>
    </div>
    <div class="btnRight">
        <button>
            <span class="k-icon k-i-plus"></span>
            THÊM SẢN PHẨM

        </button>
    </div>
</div>