<kendo-drawer-container>
    <kendo-drawer-content>
        <div class="wrapper-detail-program">
            <div class="header-detail-program">
                <div class="search-detail-program">
                    <div class="wrapper-search">
                        <div class="title-detail-program">
                            <span>Tìm kiếm sản phẩm</span>
                        </div>

                        <div style="display: flex;column-gap: 10px;">
                            <kendo-textbox placeholder="Insert name here" type="text">
                                <ng-template kendoTextBoxPrefixTemplate>
                                    <kendo-textbox-separator></kendo-textbox-separator>
                                    <kendo-icon name="search" style="margin: 0 5px;"></kendo-icon>
                                </ng-template>
                            </kendo-textbox>
                            <kendo-button [themeColor]="'primary'" iconClass="k-icon k-i-search">SEARCH</kendo-button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="body-detail-program mt-5">
                <kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="{
                buttonCount: buttonCount,
                info: info,
                type: type,
                pageSizes: pageSizes,
                previousNext: previousNext,
                position: position
                }" [height]="520" (pageChange)="pageChange($event)">

                    <kendo-grid-column field="name" title="Customer">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <div class="container-product">

                                <div class="sub-title">
                                    <span class="title">{{ dataItem.name }}</span>
                                    <div class="ncode">
                                        <span class="poscode">{{ dataItem.email }}</span>
                                        <span class="barcode">{{ dataItem.phonenb }}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="quantity" title="Quantity">
                    </kendo-grid-column>

                    <kendo-grid-column field="amount" title="Amount">
                    </kendo-grid-column>

                    <kendo-grid-column field="status" title="Status">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">



                            <span class="statusbtn">
                                chờ xử lý
                            </span>
                            <span class="btnedit">

                                <kendo-dropdownbutton [data]="data">
                                    <i class="fa-sharp fa-solid fa-ellipsis"></i>

                                    <ng-template kendoDropDownButtonItemTemplate let-items style="padding: 0;">

                                        <button kendoButton (click)="drawer.toggle()">{{items.text}}</button>


                                    </ng-template>

                                </kendo-dropdownbutton>



                            </span>


                        </ng-template>
                    </kendo-grid-column>

                </kendo-grid>


            </div>
        </div>
    </kendo-drawer-content>
    <kendo-drawer #drawer [mode]="'overlay'" [position]="'end'">
        <ng-template kendoDrawerTemplate let-item>
            <div class="HeaderDrawer">
                <h4>Edit User</h4>
            </div>
            <div class="BodyDrawer">
                <kendo-label text="Username:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
                <kendo-label text="Password:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
                <kendo-label text="Email:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
                <div class="d-flex">
                    <kendo-label text="Address:">
                        <kendo-textbox placeholder="John Smith"></kendo-textbox>
                    </kendo-label>
                    <kendo-label class="k-checkbox-label" [for]="notification" text="Allow Notifications">
                        <input type="checkbox" #notification kendoCheckBox />
                    </kendo-label>
                </div>
                <kendo-label text="Phone:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
            </div>
            <div class="FooterDrawer">
                <button kendoButton (click)="drawer.toggle()">CLOSE</button>
                <button kendoButton (click)="drawer.toggle()" iconClass="k-icon k-i-save"
                    themeColor="primary">SAVE</button>
            </div>
        </ng-template>
    </kendo-drawer>
</kendo-drawer-container>