<div class="header-wrapper">
  <div class="header-right">
    <div class="logo">LOGO</div>
    <div class="menu">
      <div *ngFor="let item of itemMenu">
        <kendo-dropdownbutton [data]="item.arrDropDown" fillMode="flat">
          <div [style]="dFlex">
            <span>{{ item.text }}</span>
            <i
              class="fa fa-chevron-down"
              *ngIf="item.arrDropDown && item.arrDropDown.length > 0"
            ></i>
          </div>
        </kendo-dropdownbutton>
      </div>
    </div>
  </div>
  <div class="header-left">
    <kendo-button
      iconClass="fa fa-search"
      fillMode="flat"
      rounded="full"
    ></kendo-button>
    <kendo-button iconClass="fa fa-shopping-cart" rounded="full"
      >Cart ({{ Count }})</kendo-button
    >
  </div>
</div>
