<div class="top-header-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="site-logo">
            <a routerLink="/home" routerLinkActive="active-link">
              <img src="../../../../../assets/img/logo.png" alt="" />
            </a>
          </div>
          <!-- logo -->

          <!-- menu start -->
          <ng-template #isAdminTemplate>
            <nav class="main-menu">
              <ul>
                <li>
                  <a routerLink="admin/product" routerLinkActive="active-link">Product</a>
                </li>
                <li><a routerLink="admin/user" routerLinkActive="active-link">User</a></li>
                <li><a routerLink="admin/cart" routerLinkActive="active-link">About</a></li>
                <li>
                  <div class="header-icons d-flex align-items-center">
                    <div class="d-flex align-items-center text-light">
                      <a routerLink="/register" *ngIf="user != null || user != undefined"
                        class="d-flex align-items-center text-light"><i
                          class="k-icon k-i-user mr-2"></i>{{user.UserName}}</a>
                    </div>
                    <a *ngIf="user != null || user != undefined" class="text-light  d-flex align-items-center"
                      (click)="onLogout()">
                      <i class="k-icon k-i-logout text-light mr-2"></i>Logout</a>
                  </div>
                </li>
              </ul>
            </nav>
          </ng-template>
          <ng-template #NotLoginTemplate>
            <nav class="main-menu">
              <ul>
                <li>
                  <a routerLink="/home" routerLinkActive="active-link">Home</a>
                </li>
                <li>
                  <a routerLink="/shop" routerLinkActive="active-link">Shop</a>
                  <ul class="sub-menu">
                    <li><a routerLink="/man" routerLinkActive="active-link">Man</a></li>
                    <li><a routerLink="/women" routerLinkActive="active-link">Women</a></li>
                    <li><a routerLink="/couple" routerLinkActive="active-link">Couple</a></li>
                    <li><a routerLink="/admin/product" routerLinkActive="active-link">Admin Product</a></li>
                  </ul>
                </li>
                <li><a routerLink="/news" routerLinkActive="active-link">News</a></li>
                <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
                <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
                <li>
                  <div class="header-icons d-flex align-items-center text-light">
                    <a class="shopping-cart" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
                    <a class="mobile-hide search-bar-icon"><i class="fas fa-search"></i></a>
                    <a routerLink="/login" *ngIf="user == null || user == undefined">Login</a>
                    <a routerLink="/register" *ngIf="user == null || user == undefined">Register</a>
                    <a *ngIf="user != null || user != undefined" class="d-flex align-items-center text-light"><i
                        class="k-icon k-i-user mr-2"></i>{{user.UserName}}</a>
                    <a *ngIf="user != null || user != undefined" class="text-light  d-flex align-items-center"
                      (click)="onLogout()">
                      <i class="k-icon k-i-logout text-light mr-2"></i>Logout</a>
                  </div>
                </li>
              </ul>
            </nav>
          </ng-template>
          <ng-container *ngIf="isAdmin; else NotLoginTemplate">
            <ng-container *ngTemplateOutlet="isAdminTemplate"></ng-container>
          </ng-container>
          <a class="mobile-show search-bar-icon"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Search For:</h3>
            <input type="text" placeholder="Keywords">
            <button type="submit">Search <i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search arewa -->