<div
  class="blog-group"
  [style.background-image]="'url(' + backgroundImage + ')'"
>
  <div class="wrapper">
    <span class="date">25 Nov</span>
    <div class="content-wrapper">
      <span class="actor"><i class="fa fa-user"></i>Admin</span>
      <p class="title">The Benefits of Vitamin D & How to Get It</p>
      <p class="content">
        Simply dummy text of the printing and typesetting industry. Lorem Ipsum
      </p>
      <button
        kendoButton
        [themeColor]="'primary'"
        fillMode="flat"
        iconClass="fa fa-arrow-circle-right"
      >
        Default button
      </button>
    </div>
  </div>
</div>
