@import "../../../../assets/scss/mixin";
@import "../../../../assets/scss/variable";

::ng-deep {
  app-portfolio {
    .header {
      height: 250px;
      background: bisque;
    }
    .text-header {
      text-align: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 250px;
      /* identical to box height */

      color: #274c5b;
    }
    .main {
    }
    .main-logo {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    .container-logo {
      display: flex;
      flex-direction: column;
    }
    .header-main-text {
      position: absolute;
      top: 610px;
    }
    .header-main-text-1 {
      position: absolute;
      top: 960px;
    }

    .img-logo {
      width: 350px;
    }
    .text-head {
      font-family: "Yellowtail";
      font-style: italic;
      font-weight: 400;
      font-size: 36px;
      color: #7eb693;
    }
    .text-main {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      color: #274c5b;
    }
    .title {
      font-size: 16px;
    }
    .text-box {
      font-size: 13px;
    }
  }
}
