<div class="header">
  <p class="text-header">Brand</p>
</div>
<div class="main">
  <div class="main-logo">
    <div class="container-logo">
      <img class="img-logo" src="../../../../assets/img/product/logo-GIOR.jpg" alt="" />
      <div class="header-main-text">
        <p class="text-main title">ARMANI</p>
        <p class="text-head title">Local brand</p>
      </div>
    </div>
    <div class="container-logo">
      <img class="img-logo" src="../../../../assets/img/product/logo-GIOR.jpg" alt="" />
      <div class="header-main-text">
        <p class="text-main title">DOLCE & GABBANA</p>
        <p class="text-head title">Local brand</p>
      </div>
    </div>
    <div class="container-logo">
      <img class="img-logo" src="../../../../assets/img/product/logo-GIOR.jpg" alt="" />
      <div class="header-main-text">
        <p class="text-main title">REN</p>
        <p class="text-head title">Local brand</p>
      </div>
    </div>
  </div>
  <div class="main-logo">
    <div class="container-logo">
      <img class="img-logo" src="../../../../assets/img/product/logo-GIOR.jpg" alt="" />
      <div class="header-main-text-1">
        <p class="text-main title">COCOSIA</p>
        <p class="text-head title">Local brand</p>
      </div>
    </div>
    <div class="container-logo">
      <img class="img-logo" src="../../../../assets/img/product/logo-GIOR.jpg" alt="" />
      <div class="header-main-text-1">
        <p class="text-main title">COCOSIA</p>
        <p class="text-head title">Local brand</p>
      </div>
    </div>
    <div class="container-logo">
      <img class="img-logo" src="../../../../assets/img/product/logo-GIOR.jpg" alt="" />
      <div class="header-main-text-1">
        <p class="text-main title">COCOSIA</p>
        <p class="text-head title">Local brand</p>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>