@import "./variable";

$default-padding: 10px;
$clamp: 1;

@mixin btn($px: $default-padding, $py: $default-padding) {
  padding: $px $py;
}

@mixin btn-primary {
  background-color: $primary !important;
  font-weight: 800;
  color: $white;
}

@mixin limitTitle($clamp) {
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
