$off-white: #f9f8f8;
$greenish-white: #eff6f1;
$slateGray: #525c60;
$gray: #d4d4d4;
$secondary: #7eb693;
$primary: #274c5b;
$primary-hover: rgba(39, 76, 91, 0.8);
$white: #fff;
$yellow: #efd372;
$yellow-hover: rgba(239, 211, 114, 0.8);
$label: #959db3;
