$off-white: #f9f8f8;
$greenish-white: rgb(239, 246, 241);
$slateGray: #525c60;
$gray: #d4d4d4;
$secondary: #7eb693;
$primary: #e5342a;
$primary-hover: rgba(229, 52, 42, 0.8);
$blue-dark: #012738;
$white: #fff;
$yellow: #efd372;
$yellow-hover: rgba(239, 211, 114, 0.8);
$label: #959db3;
$blue-dark-hover: rgba(1, 39, 56, 0.8);