@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/mixin';

::ng-deep {
    app-manager-product {
        .wrapper-detail-program {
            padding: 19px 13px;

            .header-detail-program {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title-detail-program {
                    span {
                        font-weight: 700;
                        font-size: 16px;
                        color: #26282e;
                    }
                }

                .body-detail-program {
                    height: calc(100vh - 100px - 32px - 52px);
                }

                .wrapper-search {
                    display: flex;
                    column-gap: 10px;

                    .search-input {
                        background-color: #fff;
                    }
                }

                .tool-detail-program {
                    display: flex;
                    column-gap: 10px;
                }
            }
        }

        .wrapper-grid {
            height: calc(100vh - 100px - 32px - 52px);
        }

        .k-table-tbody {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 12px;
            column-gap: 20px;

            .k-table-row {
                width: 220px;
                border: 1px solid transparent;



                .k-table-td {
                    padding: 0;

                    &:hover {

                        .dustbin,
                        .edit {
                            display: block;
                        }

                    }

                    .container-product {
                        position: relative;
                        padding: 0 10px;
                        min-width: 265px;

                        .content-product {
                            display: flex;
                            column-gap: 9px;
                            overflow: hidden;
                            width: 100%;

                            .sub-title {
                                @include limitTitle(2);

                                .title {
                                    color: #353935;
                                    width: 100%;
                                }

                                .ncode {
                                    position: absolute;
                                    bottom: 0;
                                    color: $gray;
                                    display: flex;
                                    align-items: center;
                                    @include limitTitle(1);
                                    flex-wrap: wrap;

                                    span {
                                        padding: 0 5px;
                                    }
                                }

                            }
                        }

                        .imgProduct {
                            width: 76px;
                        }

                    }

                    .dustbin {
                        display: none;
                        position: absolute;
                        top: 4px;
                        left: 5px;
                        outline: none;
                        border: none;
                        box-shadow: none;
                        background-color: $white;
                        color: red;
                        z-index: 99;
                        filter: drop-shadow(0 0 14px $gray);
                    }

                    .edit {
                        display: none;
                        position: absolute;
                        top: 4px;
                        left: 40px;
                        outline: none;
                        border: none;
                        box-shadow: none;
                        background-color: $white;
                        color: $primary;
                        z-index: 99;
                        filter: drop-shadow(0 0 14px $gray);
                    }
                }
            }

        }
    }
}

// padding: 13px 32px 18px 20px;