<kendo-drawer-container>
    <!-- =========================UI create product============================ -->
    <kendo-drawer #drawer [mode]="'overlay'" [position]="'end'">
        <ng-template kendoDrawerTemplate let-item>
            <div class="HeaderDrawer">
                <h4> Create Product</h4>
            </div>
            <form [formGroup]="form">
                <div class="BodyDrawer">
                    <kendo-label text="Product Name:">
                        <kendo-textbox formControlName="ProductName"></kendo-textbox>
                    </kendo-label>
                    <!-- <kendo-label text="Category:">
                        <kendo-textbox placeholder="Men"></kendo-textbox>
                    </kendo-label> -->

                    <kendo-label text="Category">
                        <br>
                        <kendo-dropdownlist [data]="CategoryList" textField="Name" valueField="_id"
                            [valuePrimitive]="true" formControlName="CatalogId"
                            (selectionChange)="selectionChange($event)">
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem.Name }}
                            </ng-template>
                        </kendo-dropdownlist>
                    </kendo-label>

                    <kendo-label text="Price:">
                        <kendo-textbox formControlName="Price"></kendo-textbox>
                    </kendo-label>

                    <!-- Upload image -->
                    <!-- <kendo-label text="Upload image"> -->

                    <!-- <kendo-upload [autoUpload]="false" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl"
                            (valueChange)="valueChange($event)">
                            <ng-template kendoUploadFileInfoTemplate let-files>
                                <div>Name: {{ files[0].name | json}}</div>
                            </ng-template>
                        </kendo-upload> -->
                    <!-- <p>
                            <kendo-upload  formControl="" [autoUpload]="false" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl"
                                [restrictions]="uploadRestrictions" (valueChange)="valueChange($event)">
                            </kendo-upload>
                        </p> -->


                    <!-- </kendo-label> -->
                    <!-- end upload -->
                    <kendo-label text="Discount:">
                        <kendo-textbox formControlName="Discount"></kendo-textbox>
                    </kendo-label>
                    <kendo-label text="Quantity:">
                        <kendo-textbox formControlName="Quantity"></kendo-textbox>
                    </kendo-label>
                    <kendo-label text="Description:">
                        <kendo-textbox formControlName="Description"></kendo-textbox>
                    </kendo-label>
                </div>
                <div class="FooterDrawer">
                    <button kendoButton (click)="drawer.toggle()">CLOSE</button>
                    <button kendoButton (click)="onclick()" iconClass="k-icon k-i-save"
                        themeColor="primary">SAVE</button>
                </div>
            </form>

        </ng-template>
    </kendo-drawer>
    <!-- =========================End UI create product============================ -->

    <!-- =========================UI Edit product============================ -->

    <!-- =========================End UI Edit product============================ -->

    <kendo-drawer-content>
        <div class="wrapper-detail-program">
            <div class="header-detail-program">
                <div class="title-detail-program">
                    <span>PRODUCT INFORMATION</span>
                </div>
                <div class="search-detail-program">
                    <div class="wrapper-search">
                        <kendo-textbox [style.width.px]="372" fillMode="solid" placeholder="Find by product name"
                            type="text" class="search-input">
                            <ng-template kendoTextBoxPrefixTemplate>
                                <kendo-textbox-separator></kendo-textbox-separator>
                                <kendo-icon name="search"></kendo-icon>
                            </ng-template>
                        </kendo-textbox>
                        <button kendoButton [themeColor]="'primary'" iconClass="fas fa-search">
                            Search
                        </button>
                    </div>
                </div>
                <div class="tool-detail-program">
                    <kendo-dropdownlist style="width: 200px;" [data]="CategoryList" textField="Name" valueField="_id"
                        (selectionChange)="selectionDdropDown($event)" [(ngModel)]="CatagoryItem">
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            {{ dataItem.Name }}
                        </ng-template>
                    </kendo-dropdownlist>
                    <button kendoButton [themeColor]="'primary'" iconClass="fas fa-plus" (click)="addNewProduct()">
                        ADD NEW PRODUCT
                    </button>
                </div>
            </div>

            <div class="body-detail-program mt-3">
                <app-grid-block [dataView]="listProduct" [limit]="limit" [limits]="limits"
                    [selectedValue]="selectedValue" [currentPage]="currentPage">
                    <kendo-grid-column [class]="'title'">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button kendoButton [themeColor]="'base'" iconClass="fas fa-trash-alt" class=" dustbin"
                                (click)="open(dataItem)"></button>
                            <button kendoButton [themeColor]="'base'" iconClass="k-icon k-i-edit" class=" edit"
                                (click)="editProduct()"></button>
                            <div class="container-product" kendoTooltip>
                                <div class="content-product">
                                    <img src="{{ dataItem.Image_link }}" alt="product" class="imgProduct" />
                                    <div class="sub-title">
                                        <span class="title" title="{{ dataItem.ProductName }}">{{ dataItem.ProductName
                                            }}</span>
                                        <div class="ncode">
                                            <span class="barcode" title="{{ dataItem.CatalogName }}">{{
                                                dataItem.CatalogName }}</span> <span
                                                *ngIf="dataItem.CatalogName && dataItem.Price">|</span> <span
                                                class="barcode" title="{{ dataItem.Price }}">{{
                                                dataItem.Price | currency:'VND':'symbol':'1.0-0' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </kendo-grid-column>
                </app-grid-block>
            </div>
        </div>
    </kendo-drawer-content>
</kendo-drawer-container>


<!-- Dialog -->

<div class="Dialog-Console">
    <kendo-dialog *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">
        <kendo-dialog-titlebar>
            <div style="font-size: 18px; line-height: 1.3em;"><span class="fas fa-exclamation-triangle"></span> DELETE
                PRODUCT
            </div>
        </kendo-dialog-titlebar>
        <div class="container-dialog">
            <div class="name-dialog-product">
                <p class="text-gray">You are deleting the product:</p>
                <p style="color: rgb(126, 182, 147);">{{itemProduct.ProductName}}</p>
            </div>
            <div class="name-dialog-product">
                <p class="text-gray">If you click </p>
                <p style="color: red;">“DELETE”</p>
            </div>

            <div class="name-dialog-product">
                <p class="text-gray"> The product will not be able to recover</p>
            </div>


        </div>

        <div class="button-action">
            <button class="button-click text-gray" (click)="close()">CANCEL</button>
            <button class="button-click themecolor-button" (click)="onDelete()"> <span class="fas fa-trash-alt"></span>
                DELETE</button>
        </div>

        <!-- <kendo-dialog-actions>
            <button (click)="close()">CANCEL</button>
            <button (click)="onDelete()" themeColor="primary"> <span class="fas fa-trash-alt"></span>
                DELETE</button>
        </kendo-dialog-actions> -->
    </kendo-dialog>
</div>