<div class="wrapper-detail-program">
    <div class="header-detail-program">
        <div class="title-detail-program">
            <span>THÔNG TIN CHI TIẾT CHƯƠNG TRÌNH</span>
        </div>
        <div class="search-detail-program">
            <div class="wrapper-search">
                <kendo-textbox [style.width.px]="372" fillMode="solid"
                    placeholder="Tìm theo barcode, poscode, tên sản phẩm" type="text" class="search-input">
                    <ng-template kendoTextBoxPrefixTemplate>
                        <kendo-textbox-separator></kendo-textbox-separator>
                        <kendo-icon name="search"></kendo-icon>
                    </ng-template>
                </kendo-textbox>
                <button kendoButton [themeColor]="'primary'" iconClass="fas fa-search">
                    Tìm
                </button>
            </div>
        </div>
        <div class="tool-detail-program">
            <button kendoButton [themeColor]="'base'" iconClass="fas fa-pencil-alt"></button>
            <button kendoButton [themeColor]="'base'" iconClass="fab fa-themeisle">
                Template
            </button>
            <button kendoButton [themeColor]="'primary'" iconClass="fas fa-plus">
                THÊM MỚI SẢN PHẨM
            </button>
        </div>
    </div>

    <div class="body-detail-program mt-3">
        <app-grid-block [dataView]="listProduct">
            <kendo-grid-column [class]="'title'">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <div class="container-product">
                        <button kendoButton [themeColor]="'base'" iconClass="fas fa-trash-alt" style="color: red;"
                            class=" dustbin" (click)="onDelete(dataItem)"></button>
                        <div class="content-product">
                            <img src="{{ 'http://test.lapson.vn/' + dataItem.ImageThumb }}" alt="product"
                                class="imgProduct" />
                            <div class="sub-title">
                                <span class="title">{{ dataItem.ProductName }}</span>
                                <div class="ncode">
                                    <span class="barcode">{{ dataItem.Barcode }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </kendo-grid-column>
        </app-grid-block>
    </div>
</div>