<kendo-drawer-container>
    <kendo-drawer #drawer [mode]="'overlay'" [position]="'end'">
        <ng-template kendoDrawerTemplate let-item>
            <div class="HeaderDrawer">
                <h4>Edit User</h4>
            </div>
            <div class="BodyDrawer">
                <kendo-label text="Username:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
                <kendo-label text="Password:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
                <kendo-label text="Email:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
                <div class="d-flex next align-items-center justify-content-between">
                    <kendo-label text="Address:">
                        <kendo-textbox placeholder="John Smith"></kendo-textbox>
                    </kendo-label>
                    <kendo-label class="k-checkbox-label" [for]="isAdmin" text="Admin">
                        <input type="checkbox" #isAdmin kendoCheckBox class="ml-2" />
                    </kendo-label>
                </div>
                <kendo-label text="Phone:">
                    <kendo-textbox placeholder="John Smith"></kendo-textbox>
                </kendo-label>
            </div>
            <div class="FooterDrawer">
                <button kendoButton (click)="drawer.toggle()">CLOSE</button>
                <button kendoButton (click)="drawer.toggle()" iconClass="k-icon k-i-save"
                    themeColor="primary">SAVE</button>
            </div>
        </ng-template>
    </kendo-drawer>

    <kendo-drawer-content>
        <div class="wrapper-detail-program">
            <div class="header-detail-program">
                <div class="title-detail-program">
                    <span>PRODUCT INFORMATION</span>
                    <div class="example-wrapper">
                        <div class="example-config" *ngIf="result">
                            Dialog result: {{ result }}
                        </div>
                        <button kendoButton (click)="showConfirmation()">Please confirm</button>
                    </div>

                    <div kendoDialogContainer></div>
                </div>
                <div class="search-detail-program">
                    <div class="wrapper-search">
                        <kendo-textbox [style.width.px]="372" fillMode="solid" placeholder="Find by product name"
                            type="text" class="search-input">
                            <ng-template kendoTextBoxPrefixTemplate>
                                <kendo-textbox-separator></kendo-textbox-separator>
                                <kendo-icon name="search"></kendo-icon>
                            </ng-template>
                        </kendo-textbox>
                        <button kendoButton [themeColor]="'primary'" iconClass="fas fa-search">
                            Search
                        </button>
                    </div>
                </div>
                <div class="tool-detail-program">
                    <kendo-dropdownlist [data]="CategoryList" style="width: 200px;"></kendo-dropdownlist>
                    <button kendoButton [themeColor]="'primary'" iconClass="fas fa-plus" (click)="drawer.toggle()">
                        ADD NEW PRODUCT
                    </button>
                </div>
            </div>

            <div class="body-detail-program mt-3">
                <app-grid-block [dataView]="listProduct" [limit]="limit" [limits]="limits"
                    [selectedValue]="selectedValue" [currentPage]="currentPage">
                    <kendo-grid-column [class]="'title'">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <button kendoButton [themeColor]="'base'" iconClass="fas fa-trash-alt" class=" dustbin"
                                (click)="onDelete(dataItem)"></button>
                            <button kendoButton [themeColor]="'base'" iconClass="k-icon k-i-edit"
                                class=" edit"></button>
                            <div class="container-product" kendoTooltip>
                                <div class="content-product">
                                    <img src="{{ dataItem.Image_link }}" alt="product" class="imgProduct" />
                                    <div class="sub-title">
                                        <span class="title" title="{{ dataItem.ProductName }}">{{ dataItem.ProductName
                                            }}</span>
                                        <div class="ncode">
                                            <span class="barcode" title="{{ dataItem.CatalogName }}">{{
                                                dataItem.CatalogName }}</span> <span
                                                *ngIf="dataItem.CatalogName && dataItem.Price">|</span> <span
                                                class="barcode" title="{{ dataItem.Price }}">{{
                                                dataItem.Price | currency:'VND':'symbol':'1.0-0' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </app-grid-block>
            </div>
        </div>
    </kendo-drawer-content>
</kendo-drawer-container>