<div class="wrapper_table">
    <kendo-grid [kendoGridBinding]="dataView" [pageSize]="limit" [selectable]="false" [skip]="skip" [pageable]="true"
        [height]="523" #cumstomGrid>
        <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            <div class="header-detail-program">
                <div class="title-detail-program">
                    <span>THÔNG TIN CHI TIẾT CHƯƠNG TRÌNH</span>
                </div>
                <div class="search-detail-program">
                    <div class="wrapper-search">
                        <kendo-textbox [style.width.px]="372" fillMode="solid"
                            placeholder="Tìm theo barcode, poscode, tên sản phẩm" type="text" class="search-input">
                            <ng-template kendoTextBoxPrefixTemplate>
                                <kendo-textbox-separator></kendo-textbox-separator>
                                <kendo-icon name="search"></kendo-icon>
                            </ng-template>
                        </kendo-textbox>
                        <button kendoButton [themeColor]="'primary'" imageUrl="assets/images/search-btn.svg">
                            Tìm
                        </button>
                    </div>
                </div>
                <div class="tool-detail-program">
                    <button kendoButton [themeColor]="'base'" imageUrl="assets/images/upload.svg"></button>
                    <button kendoButton [themeColor]="'base'" imageUrl="assets/images/export.svg">
                        Template
                    </button>
                    <button kendoButton [themeColor]="'primary'" imageUrl="assets/images/plus.svg">
                        THÊM MỚI SẢN PHẨM
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-content seletor="[content]"></ng-content>

        <ng-template kendoPagerTemplate>
            <div class="Pager" style="justify-content: space-between;">
                <kendo-grid-spacer></kendo-grid-spacer>
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="3"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
            <kendo-pager-info></kendo-pager-info>
        </ng-template>
    </kendo-grid>
</div>