<div class="example-wrapper">
  <div class="page">
    <div class="content">
      <kendo-gridlayout [rows]="[450, 'auto', 'auto', 'auto']" [cols]="['auto']">
        <kendo-gridlayout-item [col]="1" [row]="1" class="box box-service">
          <div class="bg-service">Services</div>
          <div class="bg-service-img"><img src="../../../../assets/img/product/service-banner.jpg" alt="">
          </div>
          <div class="bg-service-banner"></div>
        </kendo-gridlayout-item>
      </kendo-gridlayout>
    </div>
  </div>
</div>

<div class="example-wrapper">
  <div class="page-subject">
    <div class="service-list-content">
      <div class="service-title">Our Manifeesto</div>
      <div class="service-topoic">Make In The Street</div>
    </div>
    <div class="subject">
      <kendo-gridlayout [rows]="['auto', 'auto', 'auto', 'auto']" [cols]="['auto', 'auto','auto']" [gap]="5">

        <kendo-gridlayout-item [col]="1" [row]="1" class="box box-subject-ct-left">
          <div><span class="fas fa-box"></span></div>
          <div class="sb-left-title">Love Our Roots</div>
          <div class="sb-left-content">We love where come from: That's why we celebrate our culturee and values. But we
            also believe in innovation that's built on traditions.</div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [col]="2" [row]="1" [rowSpan]="3" class="box box-subject-ct-mid">
          <div class="sb-mid-img"><img src="../../../../assets/img/product/service-tshirt.webp" alt=""></div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [col]="3" [row]="1" class="box box-subject-ct-right">
          <div><span class="fas fa-dolly"></span></div>
          <div class="sb-right-title">Never Hold Back</div>
          <div class="sb-right-content">Be bold, express yourself and be proud of your stylee. Because being bold and
            poud is an ode to creativity. Being true to your-self is fresh.
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [col]="1" [row]="2" class="box box-subject-ct-left">
          <div><span class="fas fa-home"></span></div>
          <div class="sb-left-title">Stay Grounded, Be Greeen</div>
          <div class="sb-left-content">We known where we come from. We know where we're going. We known were not better
            tha any body else, but we known we're differennt.</div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [col]="3" [row]="2" class="box box-subject-ct-right">
          <div><span class="fas fa-clipboard-check"></span></div>
          <div class="sb-right-title">Fearlessly Future-Forward</div>
          <div class="sb-right-content">We can do anything. Especialy if we're not afraid. By daring to experiment and
            stand out there is nothing too big or unattaina-ble.
          </div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [col]="1" [row]="3" class="box box-subject-ct-left">
          <div><span class="fas fa-shipping-fast"></span></div>
          <div class="sb-left-title">Wear Young Live Tung Style </div>
          <div class="sb-left-content">youth is a state of mind-not a birth date. Youth culture, contmporary urban style
            and street attitude for everyy geneera-tion.</div>
        </kendo-gridlayout-item>

        <kendo-gridlayout-item [col]="3" [row]="3" class="box box-subject-ct-right">
          <div><span class="fas fa-bullhorn"></span></div>
          <div class="sb-right-title">Diversity</div>
          <div class="sb-right-content">Create a cultur of diversity and inclusivity in which everyonee can be their
            true selves.
          </div>
        </kendo-gridlayout-item>

      </kendo-gridlayout>

    </div>
    <div class="sb-btn"> <button kendoButton [fillMode]="'outline'" [themeColor]="'primary'"
        iconClass="fa fa-arrow-circle-right">
        Explore More
      </button>
    </div>

  </div>

  <kendo-gridlayout [rows]="['auto']" [cols]="['auto', 'auto','auto']">
    <kendo-gridlayout-item [col]="1" [row]="1" [colSpan]="3" class="box box-ct-vd">
      <div class="video-container">
        <video autoplay muted>
          <source src="../../../../assets/img/product/FUTURISM 2 0 (video-converter.com).mp4" type="video/mp4">
        </video>
      </div>
    </kendo-gridlayout-item>
  </kendo-gridlayout>

</div>