@import "../../../../../assets/scss/variable";
@import "../../../../../assets/scss/mixin";

::ng-deep {
  app-product {
    .container-product {
      position: relative;
      display: block;
      width: 250px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 0px $gray;
      background-color: $greenish-white;
      overflow: hidden;

      img {
        width: 228px;
        height: 300px;
      }

      .category {
        display: -webkit-box;
        width: fit-content;
        max-width: 50%;
        background-color: $primary;
        color: $white;
        font-weight: 600;
        padding: 5px 10px;
        overflow: hidden;
        @include limitTitle(1);
        border-radius: 10px;
        position: absolute;
        top: 16px;
        left: 15px;
      }

      .title-product {
        height: 40px;
        font-size: 16px;
        color: $primary;
        font-weight: 600;
        margin-top: 10px;
        @include limitTitle(2);
      }

      .sales {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        .price {
          font-size: 16px;
          color: $primary;
          font-weight: 700;
        }

        .rating {
          text-align: end;
        }

        .discount {
          color: $primary;
          font-size: 16px;
          font-weight: 700;
        }
      }

      .review {
        display: block;
        text-align: end;
        padding-top: 5px;
        border-top: 1px solid $gray;
        i {
          color: $yellow;
        }
      }
    }
  }
}
