<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Search For:</h3>
            <input type="text" placeholder="Keywords">
            <button type="submit">Search <i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>See more Details</p>
          <h1>Single Product</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<!-- single product -->
<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-img">
          <img [src]="product.Image_link" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="single-product-content">
          <h3>Title: {{ product.ProductName }}</h3>
          <p class="single-product-pricing"><span>S M L</span> {{ product.Price | currency:'VND':'symbol':'1.0-0' }}</p>
          <p>{{ product.Description }}</p>
          <div class="single-product-form">
            <form action="index">
              <kendo-numerictextbox format="#" [value]="product.Quantity" class="quantity"></kendo-numerictextbox>
            </form>
            <a class="cart-btn" (click)="cartService.addToCart(product)"><i class="fas fa-shopping-cart"></i> Add to
              Cart</a>
            <p><strong>Categories: </strong>{{ product.CatalogName }}</p>
          </div>
          <h4>Share:</h4>
          <ul class="product-share">
            <li><a routerLink=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a routerLink=""><i class="fab fa-twitter"></i></a></li>
            <li><a routerLink=""><i class="fab fa-google-plus-g"></i></a></li>
            <li><a routerLink=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">Related</span> Products</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.
          </p>
        </div>
      </div>
    </div>
    <div style="overflow-x: auto;">
      <div class="row" style="flex-wrap: nowrap;">

        <div class="col-lg-5 col-md-8 text-center" *ngFor="let item of ListProduct">
          <div class="single-product-item">
            <div class="product-image">
              <a routerLink="single-product"><img src="{{item.Image_link}}" alt="" /></a>
            </div>
            <h3>{{item.ProductName}}</h3>
            <p class="product-price"><span>S M L</span> {{ item.Price | currency:'VND':'symbol':'1.0-0' }}</p>
            <a class="cart-btn" (click)="cartService.addToCart(item)"><i class="fas fa-shopping-cart"></i> Add to
              Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end more products -->