<div class="main-header">
  <p class="text-main-header">Shop Single</p>
</div>
<div class="main-main">
  <kendo-gridlayout
    [rows]="['auto', 'auto', 'auto', 'auto', 'auto']"
    [cols]="['auto', 'auto', 'auto', 'auto', 'auto', 'auto']"
    [gap]="5"
  >
    <kendo-gridlayout-item
      [col]="1"
      [row]="1"
      [colSpan]="3"
      [rowSpan]="3"
      class="box rect"
    >
      <div class="category" title="{{ product.category }}">
        {{ product.category }}
      </div>
      <img class="img-detail-product" [src]="product.image" alt="" />
    </kendo-gridlayout-item>
    <kendo-gridlayout-item
      [col]="4"
      [row]="1"
      [colSpan]="3"
      [rowSpan]="1"
      class="box big"
    >
      <h2>{{ product.title }}</h2>
      <div class="review">
        <i
          class="fa fa-star"
          *ngFor="let i of getStarArray(product.rating.rate)"
        ></i>
      </div>
      <br />

      {{ product.price }} $
    </kendo-gridlayout-item>
    <kendo-gridlayout-item
      [col]="4"
      [row]="2"
      [colSpan]="3"
      [rowSpan]="1"
      class="box big"
    >
      <p class="text-des">{{ product.description }}</p>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item
      [col]="4"
      [row]="3"
      [colSpan]="3"
      [rowSpan]="1"
      class="box big"
    >
      <div class="quantity-mode">
        <div class="inp-QuantMode">
          <span>Quantity</span>
          <input class="inputQuantMode" type="number" />
        </div>
        <div class="but-QuantMode">
          <button
            class="buttonMode"
            kendoButton
            [themeColor]="'primary'"
            iconClass="fa fa-arrow-circle-right"
          >
            Add to card
          </button>
        </div>
      </div>
    </kendo-gridlayout-item>

    <kendo-gridlayout-item
      [col]="1"
      [row]="5"
      [colSpan]="6"
      [rowSpan]="1"
      class="box big"
    >
      <div class="text-DesAdd">
        <p>
          "Thế giới của chúng tôi được tạo nên từ những dòng sản phẩm quần áo đa
          dạng, từ những bộ trang phục hàng ngày đến những bộ trang phục đặc
          biệt. Hãy khám phá và biến những giấc mơ thời trang của bạn thành hiện
          thực cùng chúng tôi."
        </p>
      </div>
    </kendo-gridlayout-item>
  </kendo-gridlayout>
</div>
<!-- =================================================================== -->
<div class="main-footer">
  <kendo-gridlayout
    [rows]="['auto', 'auto', 'auto', 'auto']"
    [cols]="['auto', 'auto', 'auto', 'auto', 'auto', 'auto']"
    [gap]="0"
  >
    <kendo-gridlayout-item
      [col]="1"
      [row]="1"
      [colSpan]="6"
      [rowSpan]="1"
      class="box big"
    >
      <div class="Rel-Products">Related Products</div>
    </kendo-gridlayout-item>
    <kendo-gridlayout-item
      [col]="1"
      [row]="2"
      [colSpan]="2"
      [rowSpan]="3"
      class="box rect RelProducts"
    >
      <div class="container-img-Rel-Pro">
        <app-product
          *ngFor="let i of arrProductTogetherCategory.slice(0, 3)"
          [category]="i.category"
          [discount]="0"
          [price]="i.price"
          [review]="i.rating.rate"
          [titleProduct]="i.title"
          [imgProduct]="i.image"
          [countRate]="i.rating.count"
          [rate]="i.rating.rate"
          [id]="i.id"
          (clickItem)="getProductSingle($event)"
        ></app-product>
      </div>
    </kendo-gridlayout-item>
  </kendo-gridlayout>
</div>
