<div class="example-wrapper">
    <div class="page">
        <div class="content">
            <kendo-gridlayout [rows]="[350, 'auto', 'auto', 'auto', 'auto', 'auto']" [cols]="['auto','auto']">
                <kendo-gridlayout-item [col]="1" [row]="1" [colSpan]="2" class="box box-about">
                    <div class="title">
                        About Us
                    </div>
                    <div class="title-img"><img src="../../../../assets/img/product/2.png" alt=""></div>
                </kendo-gridlayout-item>

                <kendo-gridlayout-item [col]="1" [row]="2" [colSpan]="2" class="box box-content">
                    <div class="content-img"><img src="../../../../assets/img/product/img_about.jpg" alt=""></div>
                    <div class="content-text">
                        <div class="content-text-cate">About Us</div>
                        <div class="content-text-title">We do Creative <br> Things for Success</div>
                        <div class="content-text-detail">
                            <p>Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley.</p><br>
                            <p>Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley.</p>
                        </div><br>
                        <div class="content-text-list">
                            <div class="content-text-list-left">
                                <span class="k-icon k-i-cut"></span>
                                <div class="content-text-list-detail">Modern Agriculture Equipment</div>
                            </div>
                            <div class="content-text-list-right">
                                <span class="k-icon k-i-cut"></span>
                                <div class="content-text-list-detail">No growth hormones are used</div>
                            </div>
                        </div>
                        <div class="content-text-btn">
                            <kendo-button iconClass="fa fa-arrow-circle-right" themeColor="primary">Explore
                                More</kendo-button>
                        </div>
                    </div>
                </kendo-gridlayout-item>

                <kendo-gridlayout-item [col]="1" [row]="3" [colSpan]="2" class="box box-gist-bg">
                    <div class="box-gist">
                        <div class="content-text-line-2">
                            <div class="content-item">Why Choose us?</div>
                            <div class="content-title">We do not buy from the
                                open market & traders.</div><br>
                            <div class="content-detail">
                                <p>Simply dummy text of the printing and typesetting industry. Lorem had ceased to been
                                    the
                                    industry's standard the 1500s, when an unknown</p>
                            </div><br>
                            <div class="content-textlist-line-2">
                                <div class="content-textlist-line-2-left">
                                    <div class="title-bar"><span class="k-icon k-i-radiobutton"></span>
                                        <div>100% Natural Product</div>
                                    </div>
                                    <div class="content-textlist-line-2-detail">Simply dummy text of the printing and
                                        typesetting industry Lorem Ipsum
                                    </div>
                                </div>
                                <div class="content-textlist-line-2-right">
                                    <div class="title-bar"><span class="k-icon k-i-radiobutton"></span>
                                        <div>Increases resistance</div>
                                    </div>
                                    <div class="content-textlist-line-2-detail">Filling, and temptingly healthy, our
                                        Biona
                                        Organic Granola with Wild Berries is just the thing
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-img"><img src="../../../../assets/img/product/img-about.webp" alt=""></div>
                    </div>
                </kendo-gridlayout-item>

                <kendo-gridlayout-item [col]="1" [row]="4" [colSpan]="2" class="box box-bg">
                    <div class="box-list-card">
                        <div class="box-card-item">
                            <span class="k-icon k-i-cart"></span>
                            <div class="box-card-title">Return Policy</div>
                            <div class="box-card-content">
                                Simply dummy text of the print in type setting industry.
                            </div>
                        </div>
                        <div class="box-card-item">
                            <span class="k-icon k-i-cart"></span>
                            <div class="box-card-title">100% Fresh</div>
                            <div class="box-card-content">
                                Simply dummy text of the print in type setting industry.
                            </div>
                        </div>
                        <div class="box-card-item">
                            <span class="k-icon k-i-cart"></span>
                            <div class="box-card-title">Support 24/7</div>
                            <div class="box-card-content">
                                Simply dummy text of the print in typesetting industry.
                            </div>
                        </div>
                        <div class="box-card-item">
                            <span class="k-icon k-i-cart"></span>
                            <div class="box-card-title">Secured Payment
                            </div>
                            <div class="box-card-content">
                                Simply dummy text of the print in typesetting industry.
                            </div>
                        </div>
                    </div>
                </kendo-gridlayout-item>

                <kendo-gridlayout-item [col]="1" [row]="5" [colSpan]="2" class="box box-group">
                    <div class="box-list-g-r">
                        <div class="box-list-g-r-list">
                            <div class="box-list-g-r-title">Team</div>
                            <div class="box-list-g-r-topic">Our Organic Experts</div><br>
                            <div class="box-list-g-r-content">Simply dummy text of the printing and typesetting
                                industry.
                                Lorem had ceased to been the industry's standard dummy text ever since the 1500s, when
                                an
                                unknown printer took a galley.</div><br>
                        </div>
                        <div class="box-list-g-r-list-card">
                            <app-group [image]="'../../../../assets/img/product/about-card2.jpg'" [name]="'Linh Đàm'"
                                [role]="'Founder'">
                            </app-group>
                            <app-group [image]="'../../../../assets/img/product/about-card3.jpg'"
                                [name]="'Angela Minh Tú'" [role]="'Designer'">
                            </app-group>
                            <app-group [image]="'../../../../assets/img/product/about-card4.webp'"
                                [name]="'DGun Tiến Đạt'" [role]="'Model'">
                            </app-group>
                        </div>
                    </div>

                </kendo-gridlayout-item>

                <kendo-gridlayout-item [col]="1" [row]="6" [colSpan]="2" class="box box-offer-bg">
                    <div class="box-offer-list-ct">
                        <div class="box-offer-ct-title">About Us</div>
                        <div class="box-offer-ct-topic">What We Offer for You</div>
                        <div class="box-offer-ct-list-card">
                            <div class="box-offer-ct-img">
                                <div class="ct-card-img"><img src="../../../../assets/img/product/about-vat-lieu.jpg"
                                        alt=""></div>
                                <span class="ct-text">Material</span>
                            </div>

                            <div class="box-offer-ct-img">
                                <div class="ct-card-img"><img src="../../../../assets/img/product/about-ban-ve.jpg"
                                        alt=""></div>
                                <span class="ct-text">Inspiration</span>
                            </div>

                            <div class="box-offer-ct-img">
                                <div class="ct-card-img"><img src="../../../../assets/img/product/about-chat-luong.jpg"
                                        alt=""></div>
                                <span class="ct-text">Quality</span>
                            </div>

                            <div class="box-offer-ct-img">
                                <div class="ct-card-img"><img src="../../../../assets/img/product/about-doi-ngu.jpg"
                                        alt=""></div>
                                <span class="ct-text">Spacious printing workshop</span>
                            </div>
                        </div>
                    </div>
                </kendo-gridlayout-item>

            </kendo-gridlayout>
        </div>
    </div>
</div>