@import "../../../../../assets/scss/variable";
@import "../../../../../assets/scss/mixin";

::ng-deep {
  app-group {
    .team-wrapper {
      position: relative;
      display: block;
      width: 250px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 $gray;
      overflow: hidden;

      &:hover {
        transform: scale(1);
      }

      img {
        width: 250px;
        height: 300px;
      }

      .name {
        color: $primary;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 10px 0px 10px;
      }

      .footer-team {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .role {
          font-size: 13px;
        }
      }
    }
  }
}