<div class="app-manager-user">
    <kendo-drawer-container>
        <kendo-drawer #drawer [mode]="'overlay'" [position]="'end'">
            <ng-template kendoDrawerTemplate let-item>
                <div class="HeaderDrawer">
                    <h4>Edit User</h4>
                </div>
                <form [formGroup]="form">
                    <div class="BodyDrawer">
                        <kendo-label text="UserName:">
                            <kendo-textbox placeholder="Enter username" formControlName="UserName"></kendo-textbox>
                        </kendo-label>
                        <kendo-label text="Password:">
                            <kendo-textbox placeholder="Enter Password" type="password"
                                formControlName="Password"></kendo-textbox>
                        </kendo-label>
                        <kendo-label text="Email:">
                            <kendo-textbox placeholder="Enter email" formControlName="Email"></kendo-textbox>
                        </kendo-label>
                        <div class="d-flex next align-items-center justify-content-between">
                            <kendo-label text="Address:">
                                <kendo-textbox placeholder="Enter address" formControlName="Address"></kendo-textbox>
                            </kendo-label>
                            <kendo-label class="k-checkbox-label" [for]="isAdmin" text="Admin">
                                <input type="checkbox" #isAdmin kendoCheckBox class="ml-2" formControlName="Admin" />
                            </kendo-label>
                        </div>
                        <kendo-label text="Phone:">
                            <kendo-textbox placeholder="Enter phone" formControlName="Phone"></kendo-textbox>
                        </kendo-label>
                    </div>
                    <div class="FooterDrawer">
                        <button kendoButton (click)="drawer.toggle()">CLOSE</button>
                        <button kendoButton (click)="onUpdateUser()" iconClass="k-icon k-i-save"
                            themeColor="primary">SAVE</button>
                    </div>
                </form>
            </ng-template>
        </kendo-drawer>

        <kendo-drawer-content>
            <div class="wrapper">
                <div class="searchWrapper header1">
                    <div class=inputSearch>
                        <kendo-label class="k-form" text="Seach user" class="searchLable">
                            <div style="display: flex;column-gap: 10px;">
                                <kendo-textbox placeholder="Insert Username here" type="text" [(value)]="keyword"
                                    (keydown.Enter)="handleSearch()">
                                    <ng-template kendoTextBoxPrefixTemplate>
                                        <kendo-textbox-separator></kendo-textbox-separator>
                                        <kendo-icon name="search" style="margin: 0 5px;"></kendo-icon>
                                    </ng-template>
                                </kendo-textbox>
                                <kendo-button [themeColor]="'primary'" iconClass="k-icon k-i-search"
                                    (click)="handleSearch()">SEARCH</kendo-button>
                            </div>
                        </kendo-label>
                    </div>
                </div>
                <div class="wrapper-grid">
                    <kendo-grid [data]="UserList" [pageable]="true" [pageSize]="pageSize" scrollable="none"
                        [loading]="loading">
                        <kendo-grid-column field="UserName" title="UserName" [headerClass]="'HeaderUserName'"
                            [class]="'cellUserName'">
                        </kendo-grid-column>
                        <kendo-grid-column field="Email" title="Email" [headerClass]="'HeaderEmail'"
                            [class]="'cellEmail'"> </kendo-grid-column>
                        <kendo-grid-column field="Address" title="Address" [headerClass]="'HeaderAddress'"
                            [class]="'cellAddress'">
                        </kendo-grid-column>
                        <kendo-grid-column field="Phone" title="Phone" [headerClass]="'HeaderPhone'"
                            [class]="'cellPhone'"> </kendo-grid-column>
                        <kendo-grid-column field="isAdmin" title="Admin" [headerClass]="'HeaderAdmin'"
                            [class]="'cellAdmin'">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <input type="checkbox" kendoCheckBox [(ngModel)]="dataItem.isAdmin" />
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column [headerClass]="'HeaderTools'" [class]="'cellTools'">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                <kendo-dropdownbutton iconClass="k-icon k-i-more-horizontal"
                                    [popupSettings]="{ popupClass: 'popupBtbDrop', animate: true, align: 'right', appendTo: 'component' }"
                                    buttonClass="popupCustom" [data]="OptionList"
                                    (itemClick)="onItemClickTools($event, dataItem)">
                                </kendo-dropdownbutton>
                            </ng-template>
                        </kendo-grid-column>
                        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                            <kendo-pager-numeric-buttons [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>
                            <kendo-pager-next-buttons></kendo-pager-next-buttons>
                            <kendo-pager-input></kendo-pager-input>
                            <kendo-pager-info></kendo-pager-info>
                            <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
                        </ng-template>
                    </kendo-grid>
                </div>
            </div>
        </kendo-drawer-content>
    </kendo-drawer-container>
</div>