<div class="app-manager-user">
    <kendo-drawer-container>
        <kendo-drawer #drawer [mode]="'overlay'" [position]="'end'">
            <ng-template kendoDrawerTemplate let-item>
                <div class="HeaderDrawer">
                    <h4>Edit User</h4>
                </div>
                <div class="BodyDrawer">
                    <kendo-label text="Username:">
                        <kendo-textbox placeholder="John Smith"></kendo-textbox>
                    </kendo-label>
                    <kendo-label text="Password:">
                        <kendo-textbox placeholder="John Smith"></kendo-textbox>
                    </kendo-label>
                    <kendo-label text="Email:">
                        <kendo-textbox placeholder="John Smith"></kendo-textbox>
                    </kendo-label>
                    <div class="d-flex">
                        <kendo-label text="Address:">
                            <kendo-textbox placeholder="John Smith"></kendo-textbox>
                        </kendo-label>
                        <kendo-label class="k-checkbox-label" [for]="notification" text="Allow Notifications">
                            <input type="checkbox" #notification kendoCheckBox />
                        </kendo-label>
                    </div>
                    <kendo-label text="Phone:">
                        <kendo-textbox placeholder="John Smith"></kendo-textbox>
                    </kendo-label>
                </div>
                <div class="FooterDrawer">
                    <button kendoButton (click)="drawer.toggle()">CLOSE</button>
                    <button kendoButton (click)="drawer.toggle()" iconClass="k-icon k-i-save"
                        themeColor="primary">SAVE</button>
                </div>
            </ng-template>
        </kendo-drawer>

        <kendo-drawer-content>
            <div class="wrapper">
                <div class="searchWrapper header1">
                    <div class=inputSearch>
                        <kendo-label class="k-form" text="Seach user" class="searchLable">
                            <div style="display: flex;column-gap: 10px;">
                                <kendo-textbox placeholder="Insert name here" type="text">
                                    <ng-template kendoTextBoxPrefixTemplate>
                                        <kendo-textbox-separator></kendo-textbox-separator>
                                        <kendo-icon name="search" style="margin: 0 5px;"></kendo-icon>
                                    </ng-template>
                                </kendo-textbox>
                                <kendo-button [themeColor]="'primary'"
                                    iconClass="k-icon k-i-search">SEARCH</kendo-button>
                            </div>
                        </kendo-label>
                    </div>
                    <kendo-button [themeColor]="'primary'" iconClass="k-icon k-i-plus" class="btnAdd"
                        (click)="drawer.toggle()">ADD NEW
                        USER</kendo-button>
                </div>
            </div>
        </kendo-drawer-content>
    </kendo-drawer-container>
</div>