<h3 class="titleForm">LOGIN</h3>
<div class="input-container">
  <input type="text" id="input" required="true" />
  <label for="input" class="label">Username</label>
  <div class="underline"></div>
</div>
<div class="input-container">
  <input type="text" id="input" required="true" />
  <label for="input" class="label">Password</label>
  <div class="underline"></div>
</div>
<div class="option">
  <span>Forgot password?</span>
  <span>Register</span>
</div>
<button kendoButton [themeColor]="'primary'" class="btnSubmit">Submit</button>
