.main-header {
  height: 250px;
  background-color: aqua;
}
.text-main-header {
  position: absolute;
  left: 549px;
  top: 176px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */

  color: #274c5b;
}

.main-main {
  display: flex;
  justify-content: center;
}

.main-footer {
}

//===============================================================
.example-wrapper {
  width: 300px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px #00000029;
  border-radius: 30px;
}
.page {
  padding: 20px 10px;
}
.content {
  background: #f9f9f9;
  height: 470px;
  overflow: auto;
}
.box {
  padding: 4px;
  background-color: #87dfce;
}
.big {
  background-color: #fea69c;
}
.rect {
  background-color: #fee47c;
}

.img-detail-product {
  height: 100%;
  width: 100%;
}
.quantity-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
}
.inputQuantMode {
  height: 50px;
  width: 45%;
  border-radius: 16px;
  text-align: center;
}
.inp-QuantMode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.but-QuantMode {
  border-radius: 16px;
}

.but-QuantMode {
  height: 50px;
  /* text-align: center; */
  /* padding: 20px 30px 20px; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  /* align-items: center;*/
}
