.main-header {
  height: 250px;
  background-color: aqua;
}
.text-main-header {
  position: absolute;
  left: 549px;
  top: 176px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  /* identical to box height */

  color: #274c5b;
}

.main-main {
}

.main-footer {
}
