<div class="header-header">
  <p class="text-header-header">Team</p>
</div>

<div class="main-main">
  <div class="header-main-text">
    <p class="text-head title">Team</p>
    <p class="text-main title">Our Designer Experts</p>
    <p class="text-footer text-box">
      Simply dummy text of the printing and typesetting industry. Lorem had
      ceased to been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley.
    </p>
  </div>
  <div class="our-team">
    <app-group
      [image]="
        '../../../../../assets/img/product/ao-polo-nam-apm3519-xng-9-yodyvn.jpg'
      "
      [name]="'Giovani Bacardo'"
      [role]="'Farmer'"
    ></app-group
    ><app-group
      [image]="
        '../../../../../assets/img/product/ao-polo-nam-apm3519-xng-9-yodyvn.jpg'
      "
      [name]="'Giovani Bacardo'"
      [role]="'Farmer'"
    ></app-group
    ><app-group
      [image]="
        '../../../../../assets/img/product/ao-polo-nam-apm3519-xng-9-yodyvn.jpg'
      "
      [name]="'Giovani Bacardo'"
      [role]="'Farmer'"
    ></app-group
    ><app-group
      [image]="
        '../../../../../assets/img/product/ao-polo-nam-apm3519-xng-9-yodyvn.jpg'
      "
      [name]="'Giovani Bacardo'"
      [role]="'Farmer'"
    ></app-group>
  </div>
</div>
