.k-scrollview-wrap {
    margin: 0 auto;
  }
  .demo-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 24px;
  }
  kendo-scrollview.ng-tns-c334316679-0.k-scrollview.ng-star-inserted {
    margin-bottom: 4em;
}

.header-main{
 display: flex;
 margin: 70px 0px 70px 0px;
}
.img-head-main-lef {
  background: url(../../../../assets/img/product/1301-cafe-01.jpg) no-repeat;
  background-size: cover;
  height: 15em;
  width: 40%;
  margin: auto;
  border-radius: 20px;
}

.img-head-main-right {
  background: url(../../../../assets/img/product/1301-cafe-01.jpg) no-repeat;
  background-size: cover;
  height: 15em;
  width: 40%;
  margin: auto;
  border-radius: 20px;
  

}