<kendo-scrollview
      #sv
      [data]="items"
      [width]="width"
      [height]="height"
      [arrows]="true"
      [endless]="true"
    >
      <ng-template let-item="item">
        <h2 class="demo-title">{{ item.title }}</h2>
        <img
          src="{{ item.url }}"
          alt="{{ item.title }}"
          [ngStyle]="{ minWidth: width }"
          draggable="false"
        />
      </ng-template>
    </kendo-scrollview>

    <div class="header-header">
      <div class="img-head-header-left"></div>
      <div class="img-head-header-right"></div>

    </div>

    <div class="header-main">

      <div class="header-main-left"></div>


      <div class="header-main-right">

        <div class="header-main-text">
          <p class="text-head">About Us</p>
          <p class="text-main">We Believe in Working
            Accredited Farmers</p>
          <p class="text-footer">Simply dummy text of the printing and typesetting industry. Lorem had ceased to 
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        </div>
        <div class="header-main-under-text">
          <div class="under-text-1">
            <div class="icon">
              <div class="in-icon"></div>
            </div>

            <div class="under-icon">
              <p class="under-icon-text-1">Organic Foods Only</p>
              <p class="under-icon-text-2">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>

          </div>



          <div class="under-text-2">
            <div class="icon">
              <div class="in-icon"></div>
            </div>

            <div class="under-icon">
              <p class="under-icon-text-1">Organic Foods Only</p>
              <p class="under-icon-text-2">Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>

        </div>

        <button class="button-header-main-right" kendoButton (click)="onButtonClick()">Show shop</button>


      </div>





    </div>

    


<div style="height: 300px">Home pafe work!</div>
