<!-- products -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-filters">
          <ul>
            <li class="active" data-filter="*">All</li>
            <li data-filter=".women">Women</li>
            <li data-filter=".man">Man</li>
            <li data-filter=".couple">Couple</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row product-lists">
      <div class="col-lg-4 col-md-6 text-center women">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img
                src="assets/img/container/fam9476_-_2280k_fol232_-_758k__3__872a9892c6fc4f2f93c735515495940c_master.jpg"
                alt=""></a>
          </div>
          <h3>Title</h3>
          <p class="product-price"><span>S M L</span> 85$ </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center man">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img
                src="assets/img/container/f36_3a73c4cdcd1043aba4bcae715a299f8e_7f6d70b231144581898c548c4b20980c_grande.jpg"
                alt=""></a>
          </div>
          <h3>Title</h3>
          <p class="product-price"><span>S M L</span> 70$ </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center couple">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img
                src="assets/img/container/doi_nau__e23290633d894c2a87cf8fb557d3af53_grande.jpg" alt=""></a>
          </div>
          <h3>Title</h3>
          <p class="product-price"><span>S M L</span> 35$ </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center man">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"><img
                src="assets/img/container/ao-ni-nam-2022_f2edd78906b64106ba8b5aa29782af71_grande.jpg" alt=""></a>
          </div>
          <h3>Title</h3>
          <p class="product-price"><span>S M L</span> 50$ </p>
          <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="pagination-wrap">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a class="active" href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end products -->