<body>
  <div class="container-all">
    <div class="container">
      <div class="shadow"></div>
      <div class="ears">
        <div class="ears__left"></div>
        <div class="ears__right"></div>
      </div>
      <div class="totoro">
        <div class="body"></div>
        <div class="pattern">
          <div class="arrow arrow__1"></div>
          <div class="arrow arrow__2"></div>
          <div class="arrow arrow__3"></div>
          <div class="arrow arrow__4"></div>
          <div class="arrow arrow__5"></div>
          <div class="arrow arrow__6"></div>
          <div class="arrow arrow__7"></div>
        </div>
        <div class="eyes">
          <div class="eyes__left"></div>
          <div class="eyes__right"></div>
        </div>
        <div class="nose"></div>
        <div class="whiskers">
          <div class="whiskers__left"></div>
          <div class="whiskers__right"></div>
        </div>
      </div>
    </div>
    <div class="container-404">
      <span class="text-404">404</span>
      <span class="text title">Page not found</span>
      <span class="text comment">
        The page you are looking for doesn't exist or has been moved
      </span>
      <button
        class="button-404"
        kendoButton
        [themeColor]="'primary'"
        iconClass="fa fa-arrow-circle-right"
        routerLink="/home"
      >
        Go to homepage
      </button>
    </div>
  </div>
</body>
