/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./assets/scss/variable";
@import "./assets/scss/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  font-weight: 800;
}

p {
  font-weight: 400;
  font-size: 18px;
}

.btn-primary {
  @include btn();
  background-color: $primary;
  font-weight: 800;
  color: $white;

  &:hover {
    background-color: $primary-hover;
    color: $white;
  }
}

.btn-yellow {
  background-color: $yellow;
  color: $primary;
  &:hover {
    background-color: $yellow-hover;
    color: $primary;
  }
}

.btn-primary_outline {
  border: 1px solid $primary;
  color: $primary;
  background-color: $white;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 50px;
  box-shadow: 0px 0px 20px 0px $gray;

  .header-right {
    display: flex;
    column-gap: 150px;
    align-items: center;
    .logo {
      font-size: 35px;
      font-weight: 700;
      color: $primary;
    }
    .menu {
      display: flex;
      column-gap: 5px;
      align-items: center;
      .k-dropdown-button {
        .k-button {
          @include btn-primary;
          padding: 7px 15px !important;
        }
      }
    }
  }
  .header-left {
    display: flex;
    column-gap: 10px;
    margin-left: auto;
    .fa-search {
      background-color: $secondary;
      padding: 8px;
      border-radius: 30px;
      color: $white;
    }
    .fa-shopping-cart {
      background-color: $primary;
      padding: 8px;
      border-radius: 30px;
      color: $white;
    }
  }
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;
  .footer-sub {
    width: 60%;
    height: 200px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $primary;
    background-image: url(assets/img/product/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .footer-text {
      width: 30%;
      font-weight: bold;
      color: $primary;
    }
    .input-subscribe {
      width: 84px;
      height: 46px;
      .icon-search {
        font-size: 16px;
      }
    }

    .btn-subscribe {
      width: 84px;
      height: 46px;
      background-color: $primary;
      font-weight: 800;
      color: $white;
    }
  }

  .arrContact {
    padding-bottom: 10px;
  }

  .title-footer {
    padding-bottom: 10px;
    font-weight: 900;
  }

  .f-bold {
    font-weight: 800;
  }
}

.line-through {
  text-decoration: line-through;
  color: $slateGray;
  font-size: 13px;
}

.k-button-solid-primary {
  flex-direction: row-reverse;
  background-color: $primary;
  color: $white;
  align-items: center;
  border-color: $primary;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
}

.k-button-solid-secondary {
  flex-direction: row-reverse;
  background-color: $yellow;
  color: $white;
  align-items: center;
  border-color: $yellow;
  font-weight: 700;
  font-size: 16px;

  .k-button-icon {
    color: $primary;
  }

  &:hover {
    background-color: $yellow-hover;
    border-color: $yellow-hover;

    .k-button-icon {
      color: $primary-hover;
    }
  }
}

.k-button-outline-primary {
  flex-direction: row-reverse;
  color: $primary;
  align-items: center;
  border-color: $primary;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    border-color: $primary;
    color: $white;
    background-color: $primary;
  }
}

.k-button-flat-primary {
  flex-direction: row-reverse;
  color: $primary;
  align-items: center;
  border-color: $primary;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    border-color: $primary;
    color: $primary;
    background-color: $primary;
  }
}

.k-notification-container {
  height: 70px;
  padding: 10px;

  .k-notification {
    .k-icon {
      font-size: 30px;
      border-right: 1px solid #fff;
      padding: 20px;
    }
  }

  .k-notification-content {
    font-size: 20px;
  }
}

.active-link {
  border-color: $primary !important;
  color: $primary !important;
}

.socical {
  display: flex;
  column-gap: 10px;
  justify-content: center;

  .k-button {
    border-radius: 50px !important;
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;

    &:hover {
      background-color: $primary;
      color: $white;
      border: 1px solid $primary;
    }
  }

  .k-selected {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
  }
}

.k-focus {
  outline: none !important;
  border-color: transparent !important;
}

.k-form,
.k-form-inline {
  font-size: 16px;
  color: $label;

  .k-label {
    padding: 5px 0;
  }
}

.k-input-solid {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid $primary;
  border-radius: 0;
  &:hover {
    border-bottom-color: $secondary;
  }

  &:focus {
    border: 2px solid $primary !important;
    outline: $primary;
  }
}
