/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./assets/scss/variable";
@import "./assets/scss/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  font-weight: 800;
}

p {
  font-weight: 400;
  font-size: 18px;
}

.btn-primary {
  @include btn();
  background-color: $primary;
  font-weight: 800;
  color: $white;
}

.btn-yellow {
  background-color: $yellow;
  color: $primary;
}

.btn-primary_outline {
  border: 1px solid $primary;
  color: $primary;
  background-color: $white;
}

.header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 50px;
  box-shadow: 0px 0px 20px 0px $gray;

  .header-right {
    display: flex;
    column-gap: 150px;
    align-items: center;

    .logo {
      font-size: 35px;
      font-weight: 700;
      color: $primary;
    }

    .menu {
      display: flex;
      column-gap: 5px;
      align-items: center;

      .k-dropdown-button {
        .k-button {
          @include btn-primary;
          padding: 7px 15px !important;
        }
      }
    }
  }

  .header-left {
    display: flex;
    column-gap: 10px;
    margin-left: auto;

    .fa-search {
      background-color: $secondary;
      padding: 8px;
      border-radius: 30px;
      color: $white;
    }

    .fa-shopping-cart {
      background-color: $primary;
      padding: 8px;
      border-radius: 30px;
      color: $white;
    }
  }
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;

  .footer-sub {
    width: 60%;
    height: 200px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid $primary;
    background-image: url(assets/img/product/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .footer-text {
      width: 30%;
      font-weight: bold;
      color: $primary;
    }

    .input-subscribe {
      width: 84px;
      height: 46px;

      .icon-search {
        font-size: 16px;
      }
    }

    .btn-subscribe {
      width: 84px;
      height: 46px;
      background-color: $primary;
      font-weight: 800;
      color: $white;
    }
  }

  .arrContact {
    padding-bottom: 10px;
  }

  .title-footer {
    padding-bottom: 10px;
    font-weight: 900;
  }

  .f-bold {
    font-weight: 800;
  }
}

.line-through {
  text-decoration: line-through;
  color: $slateGray;
  font-size: 13px;
}

.k-button-solid-primary {
  flex-direction: row-reverse;
  background-color: $primary;
  color: $white;
  align-items: center;
  border-color: $primary;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
}

.k-button-solid-secondary {
  flex-direction: row-reverse;
  background-color: $yellow;
  color: $white;
  align-items: center;
  border-color: $yellow;
  font-weight: 700;
  font-size: 16px;

  .k-button-icon {
    color: $primary;
  }

  &:hover {
    background-color: $yellow-hover;
    border-color: $yellow-hover;

    .k-button-icon {
      color: $primary-hover;
    }
  }
}

.k-button-outline-primary {
  flex-direction: row-reverse;
  color: $primary;
  align-items: center;
  border-color: $primary;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    border-color: $primary;
    color: $white;
    background-color: $primary;
  }
}

// Accept Current: giữ lại bản cũ 
// Accept Incoming: thay bản mới cho bản cũ
// Accept Both changes: thêm bản mới và giữ lại bản cũ
// Compare Changes: so sanh giữ bản cũ với bản mới 

.k-button-flat-primary {
  flex-direction: row-reverse;
  color: $primary;
  align-items: center;
  border-color: $primary;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    border-color: $primary;
    color: $primary;
    background-color: $primary;
  }
}

.k-notification-container {
  height: 70px;
  padding: 10px;

  .k-notification {
    .k-icon {
      font-size: 30px;
      border-right: 1px solid #fff;
      padding: 20px;
    }
  }

  .k-notification-content {
    font-size: 20px;
  }
}

.active-link {
  color: $primary !important;
}

.socical {
  display: flex;
  column-gap: 10px;
  justify-content: center;

  .k-button {
    border-radius: 50px !important;
    color: $primary;
    background-color: transparent;
    border: 1px solid $primary;

    &:hover {
      background-color: $primary;
      color: $white;
      border: 1px solid $primary;
    }
  }

  .k-selected {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
  }
}

.k-focus {
  outline: none !important;
  border-color: transparent !important;
}

.k-form,
.k-form-inline {
  font-size: 16px;
  color: $label;

  .k-label {
    padding: 5px 0;
  }
}

.k-button {
  flex-direction: unset;
  height: 32px;

  .k-button-icon {
    font-size: 16px;
  }

  .k-button-text {
    font-size: 13px;
  }
}

.k-textbox {
  &:hover {
    border-color: $primary-hover;
  }
}

.wrapper-grid {
  margin-top: 10px;
  overflow: auto;
  height: calc(100vh - 218px);

  .k-grid {
    background-color: transparent;
    border: none;
    height: 100%;

    .k-grid-aria-root {
      height: calc(100vh - 218px);
      overflow: auto;

      .k-table {
        -webkit-border-vertical-spacing: 10px;

        .k-grid-header {
          border: none;
          background-color: $blue-dark;
          position: sticky;
          top: 0;

          .k-table-row {
            .k-table-th {
              box-shadow: none;
              border: none;

              .k-cell-inner {
                .k-link {
                  color: $white;
                  font-weight: 700;
                }
              }
            }


          }
        }

        .k-table-tbody {
          .k-table-row {
            background-color: #ffff;

            .k-table-td {
              box-shadow: none;
              border: none;
            }
          }
        }

      }
    }

    .k-pager {
      height: 50px;
    }
  }
}

kendo-drawer-container {

  &.k-drawer-expanded {
    .k-drawer-end {
      width: 360px;
      margin-top: 100px;

      .k-drawer-wrapper {
        width: 100% !important;
        padding: 0 10px;

        .HeaderDrawer {
          height: 50px;
          text-align: center;
          border-bottom: 1px solid #BDC2D2;

          h4 {
            line-height: 50px;
            font-size: 16px;
            font-weight: 700;
          }
        }

        .BodyDrawer {
          height: calc(100vh - 200px);
          overflow-y: auto;
          padding: 10px 0;

          kendo-label {
            display: block;

            &:not(:first-child) {
              margin-top: 10px;
            }
          }

          .next {
            margin-top: 10px;
          }
        }

        .FooterDrawer {
          height: 50px;
          display: flex;
          column-gap: 10px;
          align-items: center;
          border-top: 1px solid #BDC2D2;
        }
      }


    }
  }
}

/* Thiết lập màu nền và kích thước cho thanh cuộn */
::-webkit-scrollbar {
  width: 5px;
  /* Chiều rộng thanh cuộn */
}

/* Thiết lập màu nền cho phần cuộn */
::-webkit-scrollbar-thumb {
  background-color: $blue-dark;
  /* Màu nền thanh cuộn */
}

/* Thiết lập màu nền khi di chuột vào phần cuộn */
::-webkit-scrollbar-thumb:hover {
  background-color: $blue-dark-hover;
  /* Màu nền khi di chuột vào thanh cuộn */
}