<div class="example-wrapper">
  <div class="page">
    <div class="content-portfolio">
      <kendo-gridlayout [rows]="['auto', 'auto']" [cols]="['auto','auto']">
        <kendo-gridlayout-item [col]="1" [row]="1" [colSpan]="2" class="box box-portfolio-bn">
          <div class="bn-img"><img src="../../../../assets/img/product/portfolio-banner.jpg" alt=""></div>
        </kendo-gridlayout-item>
        <kendo-gridlayout-item [col]="1" [row]="2" [colSpan]="2" class="box box-portfolio-kt">
          <div class="port-dt">
            <div class="port-dt-left">
              <div class="port-dt-left-title">Black Raspberry</div>
              <div class="port-dt-left-ct">Established fact that a reader will be distracted by the
                readable content of a page when looking a layout. The point of using Lorem Ipsum is that
                it has a more-or-less normal distribution of letters, as opposed </div>
            </div>
            <div class="port-dt-right">
              <div class="port-dt-right-content">
                <ul>
                  <li>
                    <div class="port-dt-right-tt">Date</div>
                    <div class="port-dt-right-dt">December 4, 2022</div>
                  </li>

                  <li>
                    <div class="port-dt-right-tt">Client</div>
                    <div class="port-dt-right-dt">Kevin Martin</div>
                  </li>

                  <li>
                    <div class="port-dt-right-tt">Category</div>
                    <div class="port-dt-right-dt">Agriculture , Eco</div>
                  </li>

                  <li>
                    <div class="port-dt-right-tt">Service</div>
                    <div class="port-dt-right-dt">Organic Products</div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </kendo-gridlayout-item>
      </kendo-gridlayout>
    </div>
  </div>
</div>

<div class="portfolio-list-ct">
  <kendo-tilelayout [columns]="1" [gap]="gap" style="padding: 0; max-width: 900px;">

    <kendo-tilelayout-item [col]="1" style="border: none; padding-block: 0;">
      <kendo-tilelayout-item-body>
        <div class="portfolio-list-ct-title">
          <h3>About The Farm:</h3>
        </div>
        <div class="portfolio-list-ct-content">
          {{ firstTileContent }}
        </div>
        <div class="portfolio-list-ct-img">
          <div class="img-detail"><img src="../../../../assets/img/product/portfolio-detail.webp" alt="The organic">
          </div>
          <span>Image</span>
        </div>
      </kendo-tilelayout-item-body>
      <kendo-tilelayout-item [col]="1" style="border: none; padding-block: 0;">
        <kendo-tilelayout-item-body>
          <div class="portfolio-list-ct-title">
            <h3>How To Farm:</h3>
          </div>
          <div class="portfolio-list-ct-content">
            {{ secondTileContent }}
          </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>

      <kendo-tilelayout-item [col]="1" style="border: none; padding: 0;">
        <kendo-tilelayout-item-body>
          <div class="portfolio-list-ct-title">
            <h3>Conclusion:</h3>
          </div>
          <div class="portfolio-list-ct-content">
            {{ secondTileContent }}
          </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </kendo-tilelayout-item>


  </kendo-tilelayout>

</div>