.content-portfolio {
    .box-portfolio-bn {

        .bn-img {
            height: 30rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .box-portfolio-kt {
        transform: translateY(-50%);
        background-color: #fff;
        margin: 0 17rem;
        border-radius: 20px;
        box-shadow: 0px 14px 36px rgba(204, 204, 204, 0.25);

        .port-dt {

            display: grid;
            grid-template-columns: 60% 40%;

            .port-dt-left {
                padding: 40px;
                float: left;

                .port-dt-left-title {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 20px;
                    margin-bottom: 10px;

                    color: #274C5B;
                }

                .port-dt-left-ct {

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 165.4%;
                    padding-right: 15px;
                    text-align: justify;



                    color: #525C60;
                }
            }

            .port-dt-right {
                background-color: #fafafa;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                box-shadow: 0px 14px 36px rgba(204, 204, 204, 0.25);

                .port-dt-right-content {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // padding: 0 6%;

                    ul {

                        li {
                            display: grid;
                            grid-template-columns: 40% 60%;
                            grid-template-rows: auto auto;
                        }
                    }


                    .port-dt-right-tt {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 29px;
                        padding-left: 10px;
                        color: #274C5B;
                        padding: 0 60px;

                    }

                    .port-dt-right-dt {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 165.4%;
                        /* identical to box height, or 30px */
                        align-items: center;
                        color: #274C5B;
                    }

                    .port-dt-right-dt::before {
                        content: ":";
                        margin-right: 10px;
                    }
                }

            }
        }
    }

}

.portfolio-list-ct {
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;

    .portfolio-list-ct-title {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 41px;
        /* identical to box height */


        color: #274C5B;
    }

    .portfolio-list-ct-content-f {
        margin-top: 20px;
        line-height: 165.4%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        color: #274C5B;
        font-size: 13px;
    }

    .portfolio-list-ct-content {
        margin-top: 20px;
        line-height: 165.4%;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        color: #525C60;
        font-size: 13px;

        span {
            padding-top: 1px;
        }
    }

    .portfolio-list-ct-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 15px;

        .img-detail {
            height: 18rem;



            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
            }
        }
    }
}